* {
    box-sizing: border-box;
}

.body-bg {
    background-color: #F8F8F8;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.topbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 16px;
    
    padding: 24px 16px;
    border-bottom: 1px solid #D9FFF5;
    background-color: #FFFFFF;
}

.topbar-menu-stick {
    flex-shrink: 0;

    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    transition: transform 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

.logotype-link {
    display: flex;
    flex-basis: 180%;
}

.connection-btn {
    display: flex;
    grid-gap: 16px;
}

.service-btn {
    display: flex;
    justify-content: center;
    grid-gap: 16px;
}

.topic__title {
    position: relative;
    margin-left: 16px;
}

.topic__title::before {
    content: '';
    border-radius: 2px;
    position: absolute;
    width: 3px;
    height: 40px;
    background-color: #41F6D7;
    left: -16px;
}

.title {
    font-family: 'TT Lakes';
    font-weight: bold;
    font-size: 28px;
}

.menu-service {
    display: flex;
    grid-gap: 26px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    list-style: none;
    margin: 0;

    padding: 10px 0 24px 16px;
}

.service-link {
    min-width: fit-content;
    white-space: nowrap;
    font-size: 16px;
    font-family: 'TT Lakes';
    line-height: 24px;
    text-decoration: none;
    border: 2px solid transparent;
    color: #7E7E82;

    padding: 8px;
}

.service-link:hover {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.service-link_active {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.post {
    font-family: 'TT Lakes';
}

.post-content {
    padding: 16px 16px 8px 16px;
}

.post-content_text {
    display: block;
    margin: 0;
}

/* ---------- show-button ---------- */

.show-button {
    display: flex;
    align-items: center;

    font-family: 'TT Lakes';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;

    background: none;
    border: none;
    cursor: pointer;
}

.show-button__icon {
    margin-right: 16px;
}

.show-button__text {
    margin: 0;
}

.show-button_display_none {
    display: none;
}

@media (min-width: 768px) {
    .section__show-button {
        margin-left: 32px;
    }

    .show-button_display_none {
        display: flex;
    }
}

@media (min-width: 1120px) {
    .section__show-button {
        margin-left: 39px;
    }
}

/* ----------------------------- */

.post-img {
    width: 320px;
}

.main-menu {
    width: 320px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.topbar-menu-sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 16px;
    
    padding: 24px;
}

.mid-menu-sidebar {
    display: flex;
    flex-direction: column;
    grid-gap: 32px;

    padding-top: 24px;
}

.mid-menu-sidebar__item {
    position: relative;
    width: fit-content;
    margin-left: 24px;
}

.mid-menu-sidebar__item--active::before {
    content: '';
    position: absolute;
    top: -5px;
    margin-left: -24px;
    width: 4px;
    height: 32px;

    background-color: #41F6D7;
}

.mid-menu-sidebar__link {
    font-family: 'TT Lakes';
    font-weight: 600;
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;

    transition: filter 0.3s;
}

.mid-menu-sidebar__link--active {
    filter: opacity(50%);
}

.mid-menu-sidebar__item:hover::before {
    content: '';
    position: absolute;
    top: -5px;
    margin-left: -24px;
    width: 4px;
    height: 32px;

    background-color: #41F6D7;
}

.mid-menu-sidebar__link:hover {
    filter: opacity(50%);
}

.connection-margin {
    margin-top: 270px;
    padding-left: 24px;
}

.contacts {
    padding-left: 24px;
}

.contacts__link {
    text-decoration: none;
    color: #1B1C21;
}

.contacts__mail {
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;

    transition: filter 0.3s;
}

.contacts__mail:hover {
    filter: opacity(50%);
}

.contacts__phone {
    font-family: 'TT Lakes';
    font-weight: 700;
    font-size: 24px;

    margin-top: 12px;

    transition: filter 0.3s;
}

.contacts__phone:hover {
    filter: opacity(50%);
}

.language {
    display: flex;
    align-items: center;
    grid-gap: 7px;

    padding: 16px 0 32px 24px;
}

.lang-btn {
    background: none;
    border: none;
    padding: 0;

    cursor: pointer;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;

    transition: filter 0.3s;
}

.lang-btn--active {
    filter: opacity(50%);
}

.lang-btn:hover {
    filter: opacity(50%);
}

    /* ---------- cards-header ---------- */

.cards-header {
    background-color: #FFFFFF;

    padding: 15px 16px 16px 16px;
    border-top: 1px solid #D9FFF5;
}

.cards-title {
    text-transform: uppercase;
    color: #7E7E82;

    font-family: 'TT Lakes';
    font-size: 16px;
    font-weight: 400;

    margin: 0;
}

/* ----------------------------- */

/* ---------- cards ---------- */
.cards {
    padding: 16px;
}

.grid-cards {
    height: 90px;
}

.brand-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    width: 240px;
    height: 72px;
    padding: 16px;

}

.brand-card_display_none {
    display: none;
}

.brand-card__button {
    background: none;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.swiper-pagination {
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background: #B5B6BC;
}

@media (min-width: 768px) {
    .cards {
        padding: 24px;
    }

    .grid-cards {
        display: flex;
        flex-wrap: wrap;
        height: 150px;

        grid-gap: 16px 24px;
    }

    .brand-card {
        width: 224px;
    }
}

@media (min-width: 1120px) {
    .grid-cards {
        column-gap: 32px;
    }

    .brand-card {
        width: 240px;
    }

    .brand-card_display_none {
        display: flex;
    }
}

/* ----------------------------- */

.connection-display-none-mobile {
    display: none;
}

.topbar-menu-stick--display-none-mobile {
    display: none;
}

.service-btn-display-desktop {
    display: none;
}

.post-content_text--display-mobile {
    display: none;
}

.post-content_text--display-tablet {
    display: none;
}

@media (min-width: 670px) {
    .post {
        display: flex;
        justify-content: center;
        grid-gap: 35px;

        padding: 16px 16px 8px 16px;
    }

    .post-content {
        padding: 0px;
    }
}

@media (min-width: 768px) {
    .topbar-menu {
        padding: 24px;
        grid-gap: 20px;
    }

    .connection-display-none-mobile {
        display: flex;
    }

    .topbar-menu-stick--display-none-mobile {
        display: flex;
    }

    .post {
        display: flex;
        justify-content: center;
        grid-gap: 35px;

        padding: 16px 16px 8px 16px;
    }

    .post-content {
        padding: 0px;
    }

    .post-content_text {
        margin-bottom: 16px;
    }

    .post-content_text--display-mobile {
        display: inline;
    }

    .post-img {
        width: 360px;
        border-radius: 5px;
    }

}

@media (min-width: 1120px) {
    .topbar-menu-display-desktop {
        display: none;
    }

    .topic {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-right: 32px;
    }

    .topic__title {
        margin-left: 30px;
    }

    .topic__title::before {
        left: -30px;
    }

    .service-btn {
        grid-gap: 160px;
    }

    .btn-topic {
        justify-content: flex-end;
        grid-gap: 18px;
    }

    .btn__text {
        font-family: 'TT Lakes';
        font-size: 16px;
        font-weight: 600;

        white-space: nowrap;
    }

    .btn__img {
        margin-right: 5px;
    }

    .service-btn-display-desktop {
        display: flex;
    }

    .menu-service {
        flex-wrap: wrap;
        overflow-x: hidden;

        padding-left: 32px;
        padding-right: 32px;
    }

    .services__text {
        font-family: 'TT Lakes';
        font-size: 16px;
        font-weight: 600;

        margin-right: 8px;
    }

    .post {
        padding: 32px 32px 8px 32px;
    }

    .post-content_text--display-tablet {
        display: inline;
    }

    .post-img {
        width: 531px;
        border-radius: 5px;
    }
}