* {
    box-sizing: border-box;
}

.body-bg {
    background-color: #F8F8F8;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ---------- topbar-menu ---------- */

.topbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 16px;
    
    padding: 24px 16px;
    border-bottom: 1px solid #D9FFF5;
    background-color: #FFFFFF;
}

@media (min-width: 768px) {
    .topbar-menu {
        padding: 24px;
        grid-gap: 20px;
    }
}

@media (min-width: 1120px) {
    .topbar-menu_display_none {
        display: none;
    }
}

/* ----------------------------- */

/* ---------- circle-button---------- */

.circle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    transition: transform 0.3s;
}

.circle-button:hover {
    transform: scale(1.1);
}

/* ----------------------------- */

/* ---------- stick ---------- */

.stick {
    flex-shrink: 0;

    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
}

.stick_display_none {
    display: none;
}

@media (min-width: 768px) {
    .stick_display_none {
        display: flex;
    }    
}

/* ----------------------------- */

/* ---------- logo ---------- */

.aside__logo {
    margin-right: 50px;
}

@media (min-width: 768px) {
    .topbar-menu__logo {
        margin-right: 235px;
    }
}

/* ----------------------------- */

/* ---------- connection-buttons ---------- */

.connection-buttons {
    display: flex;
    grid-gap: 16px;
}

.aside__connection-buttons {
    margin-top: 270px;
    margin-left: 24px;
}

.connection-buttons_display_none {
    display: none;
}

@media (min-width: 768px) {
    .connection-buttons_display_none {
        display: flex;
    }
}

/* ----------------------------- */

/* ---------- service-buttons ---------- */

.service-buttons {
    display: flex;
    justify-content: center;
    grid-gap: 16px;
}

.service-buttons_display_none {
    display: none;
}

@media (min-width: 1120px) {
    .service-buttons_display_none {
        display: flex;
    }

    .topic__service-buttons {
        grid-gap: 160px;
    }
    
    .service-buttons__circle-button {
        justify-content: flex-end;
        grid-gap: 18px;
    }
    
    .circle-button__text {
        font-family: 'TT Lakes Medium';
        font-size: 16px;
    
        white-space: nowrap;
    }
    
    .circle-button__img {
        margin-right: 5px;
    }
}

/* ----------------------------- */

/* ---------- topic ---------- */

.topic__title {
    position: relative;
    margin-left: 16px;
}

.topic__title::before {
    content: '';
    border-radius: 2px;
    position: absolute;
    width: 3px;
    height: 40px;
    background-color: #41F6D7;
    left: -16px;
}

.title {
    font-family: 'TT Lakes Bold';
    font-weight: bold;
    font-size: 28px;
}

@media (min-width: 1120px) {
    .topic {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-right: 32px;
    }

    .topic__title {
        margin-left: 30px;
    }

    .topic__title::before {
        left: -30px;
    }
}

/* ----------------------------- */

/* ---------- menu-service ---------- */

.menu-service {
    display: flex;
    grid-gap: 26px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    list-style: none;
    margin: 0;

    padding: 10px 0 24px 16px;
}

.service-link {
    min-width: fit-content;
    white-space: nowrap;
    font-size: 16px;
    font-family: 'TT Lakes Regular';
    line-height: 24px;
    text-decoration: none;
    border: 2px solid transparent;
    color: #7E7E82;

    padding: 8px;
}

.service-link:hover {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.service-link_active {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

@media (min-width: 1120px) {
    .menu-service {
        flex-wrap: wrap;
        overflow-x: hidden;

        padding-left: 32px;
        padding-right: 32px;
    }
}

/* ----------------------------- */

/* ---------- post ---------- */

.post {
    font-family: 'TT Lakes Medium';
}

.post-content {
    padding: 16px 16px 8px 16px;
}

.post-content__text {
    display: block;
}

.post-img {
    width: 320px;
}

.post-content__text_display-mobile_none {
    display: none;
}

.post-content__text_display-tablet_none {
    display: none;
}

@media (min-width: 670px) {
    .post {
        display: flex;
        justify-content: center;
        grid-gap: 35px;

        padding: 16px 16px 8px 16px;
    }

    .post-content {
        padding: 0px;
    }
}

@media (min-width: 768px) {
    .post {
        display: flex;
        justify-content: center;
        grid-gap: 35px;

        padding: 16px 16px 8px 16px;
    }

    .post-content_text {
        margin-bottom: 16px;
    }

    .post-content__text_display-mobile_none {
        display: inline;
    }

    .post-img {
        width: 360px;
        border-radius: 5px;
    }

}

@media (min-width: 1120px) {
    .post {
        padding: 32px 32px 8px 32px;
    }

    .post-content__text_display-tablet_none {
        display: inline;
    }

    .post-img {
        width: 531px;
        border-radius: 5px;
    }
}

/* ----------------------------- */

/* ---------- show-button ---------- */

.show-button {
    display: flex;
    align-items: center;

    font-family: 'TT Lakes Medium';
    font-style: normal;
    font-size: 16px;

    background: none;
    border: none;
    cursor: pointer;
}

.post__show-button {
    margin-top: 16px;
    margin-bottom: 16px;
}

.show-button__icon {
    margin-right: 16px;
}

.show-button__text {
    margin: 0;
}

.show-button_display_none {
    display: none;
}

@media (min-width: 768px) {
    .section__show-button {
        margin-left: 32px;
    }

    .show-button_display_none {
        display: flex;
    }
}

@media (min-width: 1120px) {
    .section__show-button {
        margin-left: 39px;
    }
}

/* ----------------------------- */

/* ---------- aside ---------- */

.aside {
    width: 320px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

/* ----------------------------- */

/* ---------- aside__header ---------- */

.aside__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 16px;
    
    padding: 24px;
}

/* ----------------------------- */

/* ---------- main-menu ---------- */

.nav {
    padding-top: 24px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    grid-gap: 32px;
}

.nav__item {
    position: relative;
    width: fit-content;
    margin-left: 24px;
}

.nav__item_active::before {
    content: '';
    position: absolute;
    top: -5px;
    margin-left: -24px;
    width: 4px;
    height: 32px;

    background-color: #41F6D7;
}

.nav__link {
    font-family: 'TT Lakes Regular';
    font-weight: 600;
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;

    transition: filter 0.3s;
}

.nav__link_active {
    filter: opacity(50%);
}

.nav__item:hover::before {
    content: '';
    position: absolute;
    top: -5px;
    margin-left: -24px;
    width: 4px;
    height: 32px;

    background-color: #41F6D7;
}

.nav__link:hover {
    filter: opacity(50%);
}

/* ----------------------------- */

/* ---------- contacts ---------- */

.contacts {
    padding-left: 24px;
}

.contacts__link {
    text-decoration: none;
    color: #1B1C21;
}

.contacts__mail {
    font-family: 'TT Lakes Medium';
    font-weight: 500;
    font-size: 16px;

    transition: filter 0.3s;
}

.contacts__mail:hover {
    filter: opacity(50%);
}

.contacts__phone {
    font-family: 'TT Lakes Bold';
    font-weight: 700;
    font-size: 24px;

    margin-top: 12px;

    transition: filter 0.3s;
}

.contacts__phone:hover {
    filter: opacity(50%);
}

/* ----------------------------- */

/* ---------- language ---------- */

.language-switch {
    display: flex;
    align-items: center;
    grid-gap: 7px;
}

.aside__language-switch {
    padding: 16px 0 32px 24px;
}

.language-switch__button {
    background: none;
    border: none;
    padding: 0;

    cursor: pointer;
    font-family: 'TT Lakes Medium';
    font-weight: 500;
    font-size: 16px;

    transition: filter 0.3s;
}

.language-switch__button_active {
    filter: opacity(50%);
}

.language-switch__button:hover {
    filter: opacity(50%);
}

/* ---------- cards-header ---------- */

.cards-header {
    background-color: #FFFFFF;

    padding: 15px 16px 16px 16px;
    border-top: 1px solid #D9FFF5;
}

.cards-title {
    text-transform: uppercase;
    color: #7E7E82;

    font-family: 'TT Lakes Condensed Medium';
    font-weight: 400;
    font-size: 16px;

    margin: 0;
}

/* ----------------------------- */

/* ---------- cards ---------- */
.cards {
    padding: 16px;
}

.grid-cards {
    height: 90px;
}

.brand-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    width: 240px;
    height: 72px;
    padding: 16px;

}

.brand-card_display_none {
    display: none;
}

.brand-card__button {
    background: none;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.swiper-pagination {
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background: #B5B6BC;
}

@media (min-width: 768px) {
    .cards {
        padding: 24px;
    }

    .grid-cards {
        display: flex;
        flex-wrap: wrap;
        height: 150px;

        grid-gap: 16px 24px;
    }

    .brand-card {
        width: 224px;
    }
}

@media (min-width: 1120px) {
    .grid-cards {
        column-gap: 32px;
    }

    .brand-card {
        width: 240px;
    }

    .brand-card_display_none {
        display: flex;
    }
}

/* ----------------------------- */
