* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.menu-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    position: relative;
}

.menu-mobile::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 100%;
    left: 0px;
    background-color: #D9FFF5;
}

.connection__connection-button_connection-visible {
    display: none;
}

.burger {
    margin-right: 16px;
}

.connection {
    position: relative;
    margin-right: 38px;
}

.connection::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 32px;
    top: 22%;
    margin-left: 19px;
    border-radius: 1px;
    background-color: #EAEAEA;
}

.services {
    display: flex;
}

.services-visible {
    display: none;
}

.menu-mobile__item {
    margin-right: 16px;
}

.menu-mobile__item:last-child {
    margin-right: 0;
}

.item-service {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border: none;
    border-radius: 50%;
}

.content {
    background-color: #F8F8F8;
}

.topic__title {
    padding-top: 24px;
    margin-bottom: 24px;
    margin-left: 16px;
}

.topic__title::before {
    content: '';
    border-radius: 2px;
    position: absolute;
    width: 3px;
    height: 40px;
    background-color: #41F6D7;
    left: 0px;
}

.title {
    font-family: 'TT Lakes';
    font-weight: bold;
    font-size: 28px;
}

.menu-service {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.service-link {
    min-width: fit-content;
    font-size: 16px;
    font-family: 'TT Lakes';
    line-height: 24px;
    text-decoration: none;
    color: #7E7E82;
}

.menu-service__link {
    margin-left: 8px;
    margin-bottom: 16px;
    padding: 8px;
}

.menu-service__link_active {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.post {
    font-family: 'TT Lakes';
    margin-top: 24px;
}

.text {
    margin: 0px 16px 16px 16px;
}

.visible-mobile {
    display: none;
}

.visible-tablet {
    display: none;
}

.readmore {
    margin-top: 16px;
    margin-left: 24px;
    margin-bottom: 16px;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-style: normal;
}

.post_readmore-icon {
    margin-right: 16px;
}

.post_image-content {
    width: 320px;
}

@media (min-width: 768px) {
    .menu-mobile {
        justify-content: space-between;
    }

    .connection {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .connection::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 32px;
        top: 22%;
        left: -4%;
        border-radius: 1px;
        background-color: #EAEAEA;
    }

    .connection::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 32px;
        top: 22%;
        left: 102%;
        border-radius: 1px;
        background-color: #EAEAEA;
    }

    .connection__connection-button_connection-visible {
        display: flex;
    }

    .connection__connection-button {
        margin-left: 240px;
    }

    .services-visible {
        display: none;
    }

    .visible-mobile {
        display: inline;
    }

    .post {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .post_image-content {
        width: 360px;
        border-radius: 5px;
    }
}

@media (min-width: 1120px) {
    .menu-mobile {
        display: none;
    }

    .topic {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .services {
        align-items: center;
    }

    .services-visible {
        display: flex;
    }

    .services__text {
        font-family: 'TT Lakes';
        font-size: 16px;
        font-weight: 600;

        margin-right: 8px;
    }

    .menu-mobile__item {
        margin-right: 32px;
    }

    .menu-mobile__item:last-child {
        margin-right: 32px;
    }

    .visible-tablet {
        display: inline;
    }

    .post_image-content {
        width: 531px;
        border-radius: 5px;
    }
}