* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
}

.topbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 16px;
    
    padding: 24px 16px;
    border-bottom: 1px solid #D9FFF5;
    background-color: #FFFFFF;
}

.topbar-menu__stick {
    flex-shrink: 0;

    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    transition: transform 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

.connection-btn {
    display: flex;
    justify-content: center;
    grid-gap: 16px;
}

.service-btn {
    display: flex;
    justify-content: center;
    grid-gap: 16px;
}

.content {
    background-color: #F8F8F8;
}

.topic__title {
    position: relative;
    margin-left: 16px;
}

.topic__title::before {
    content: '';
    border-radius: 2px;
    position: absolute;
    width: 3px;
    height: 40px;
    background-color: #41F6D7;
    left: -16px;
}

.title {
    font-family: 'TT Lakes';
    font-weight: bold;
    font-size: 28px;
}

.menu-service {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.service-link {
    min-width: fit-content;
    font-size: 16px;
    font-family: 'TT Lakes';
    line-height: 24px;
    text-decoration: none;
    color: #7E7E82;
}

.menu-service__link {
    margin-left: 8px;
    margin-bottom: 16px;
    padding: 8px;
}

.menu-service__link_active {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.post {
    font-family: 'TT Lakes';
    margin-top: 24px;
}

.text {
    margin: 0px 16px 16px 16px;
}

.readmore {
    margin-top: 16px;
    margin-left: 24px;
    margin-bottom: 16px;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-style: normal;
}

.post_readmore-icon {
    margin-right: 16px;
}

.post_image-content {
    width: 320px;
}

/* service styling */

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.connection-display-none-mobile {
    display: none;
}

.topbar-menu__stick--display-none-mobile {
    display: none;
}

.service-btn-display-desktop {
    display: none;
}

.display-none-mobile {
    display: none;
}

.display-none-tablet {
    display: none;
}

@media (min-width: 768px) {
    .topbar-menu {
        padding: 24px;
        grid-gap: 20px;
    }

    .visible-mobile {
        display: inline;
    }

    .connection-display-none-mobile {
        display: flex;
    }

    .logotype-link {
        display: flex;
        flex-basis: 180%;
    }

    .topbar-menu__stick--display-none-mobile {
        display: flex;
    }

    .post {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .post_image-content {
        width: 360px;
        border-radius: 5px;
    }
}

@media (min-width: 1120px) {
    .topbar-menu {
        display: none;
    }

    .topic {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-right: 32px;
    }

    .topic__title {
        margin-left: 30px;
    }

    .topic__title::before {
        left: -30px;
    }

    .btn {
        justify-content: flex-end;
    }

    .service-btn {
        grid-gap: 160px;
    }

    .btn__text {
        font-family: 'TT Lakes';
        font-size: 16px;
        font-weight: 600;

        position: absolute;
        white-space: nowrap;
        transform: translateX(-42px);
    }

    .btn__img {
        margin-right: 5px;
    }

    .service-btn-display-desktop {
        display: flex;
    }

    .services__text {
        font-family: 'TT Lakes';
        font-size: 16px;
        font-weight: 600;

        margin-right: 8px;
    }

    .visible-tablet {
        display: inline;
    }

    .post_image-content {
        width: 531px;
        border-radius: 5px;
    }
}