$font-regular: 'TT Lakes Regular', sans-serif;
$font-medium: 'TT Lakes Medium', sans-serif;
$font-bold: 'TT Lakes Bold', sans-serif;
$font-condensed-medium: 'TT Lakes Condensed Medium', sans-serif;

$color-bg-white: #FFFFFF;
$color-bg-gray: #F8F8F8;
$color-border: #D9FFF5;
$color-stick: #EAEAEA;
$color-stick-title: #41F6D7;
$color-bg-button: #FF3E79;
$color-text: #7E7E82;
$color-nav-link: #1B1C21;
$color-border-link: #B8FFEC;
$color-placeholder: #B5B6BC